<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Management</title>
</head>
<body>
    <h1>Account Management</h1>
    <% if (messages && messages.success) { %>
        <div class="flash-message"><%= messages.success %></div>
    <% } %>
    <% if (messages && messages.error) { %>
        <div class="flash-message"><%= messages.error %></div>
    <% } %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>
    %>
    <% if (user) { %>
        <h2>Welcome <%= user.account_firstname %></h2>
        <p><a href="/account/update/<%= user.account_id %>">Update Account Information</a></p>
    <% } else { %>
        <p>Please <a href="/account/login">log in</a> to manage your account.</p>
    <% } %>
</body>
</html>
